.account {
    text-align: right;
    margin-top: 3rem;
    font-size: 0.8rem;
    color:lighten(#000, 60%);
    a {
        font-size: 1.1em;
        color:lighten(#000, 40%);
        font-weight: 600;
        cursor: pointer;
        &:hover{
            color: red;
        }

    }
}
.forgot{
    color:lighten(#000, 60%);
    &:hover{
        color: red;
    }
}