.account {
    text-align: right;
    margin-top: 3rem;
    opacity: .7;
    font-size: 0.8rem;
    a {
        font-size: 1.1em;
        color: red;
        opacity: 1;
        cursor: pointer;

    }
}