h1 {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  span{
    font-size: .7em;
    opacity: .8;
  }
}

nav {
  :not(:last-child){
    padding-right: 1.5rem;
  }
  .sign-up {
    color: white;
    font-weight: 600;
    
  }
}
