<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
        <div class="text-center">
            <h4>
                Sign Up
            </h4>

        </div>
        <form [formGroup]="userForm"
              (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       formControlName="username"
                       class="form-control"
                       [ngClass]="{'is-invalid':username.errors && username.touched}"
                       id="username"
                       placeholder="Username">
                <div class="invalid-feedback"
                     *ngIf="username.hasError('usernameTaken')">
                    Username is taken
                </div>
                <div class="invalid-feedback"
                     *ngIf="username.hasError('required')">
                    Username is required
                </div>
                <div class="invalid-feedback"
                     *ngIf="username.hasError('minlength')">
                    Username must be at least 3 characters
                </div>

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text"
                       formControlName="password"
                       class="form-control"
                       [ngClass]="{'is-invalid':password.errors && password.touched}"
                       id="password"
                       placeholder="Password">
                <div class="invalid-feedback"
                     *ngIf="password.hasError('required')">
                    Password is required
                </div>

            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password"
                       formControlName="confirmPassword"
                       class="form-control"
                       [ngClass]="{'is-invalid':confirmPassword.errors && confirmPassword.touched}"
                       id="confirmPassword"
                       placeholder="Confirm Password"
                       autocomplete>
                <div class="invalid-feedback"
                     *ngIf="confirmPassword.hasError('passwordMismatch')">
                    Passwords Don't Match
                </div>
                <div class="invalid-feedback"
                     *ngIf="confirmPassword.hasError('required')">
                    Confirm password is required
                </div>

            </div>
            <section formGroupName="address">
                <div class="form-group">
                    <label for="inputStreet">Street</label>
                    <input type="text"
                           formControlName="street"
                           class="form-control"
                           id="inputStreet"
                           placeholder="1234 Main St">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="inputCity">City</label>
                        <input type="text"
                               formControlName="city"
                               class="form-control"
                               id="inputCity"
                               placeholder="City Name">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputCountry">Country</label>
                        <input id="inputCountry"
                                formControlName="country"
                                class="form-control"
                                placeholder="Country Name">                        
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text"
                               formControlName="zip"
                               class="form-control"
                               id="inputZip"
                               placeholder="xxxx">
                    </div>
                </div>
            </section>

            <p class="d-flex justify-content-center mt-md-5">
                <button class="btn btn-info btn-lg btn-block"
                        type="submit"
                        
                        [disabled]="userForm.invalid"> <!--  <i class="fas fa-save"></i>-->  SIGN UP</button> 
                <button class="btn btn-danger" style="float: right; opacity: 0.9; display: none;"
                        (click)="clear()"> <!--  <i class="fas fa-snowplow"></i> --> Clear</button> 
                
            </p>
        </form>

    </div>

</div>