<div class="form-group col-lg-4 mx-auto">
    <div [formGroup]="forgotPasswordGroup">
        <label for="email">E-mail</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Please eneter your email address"
        [ngClass]="{'is-invalid':email.errors && email.touched}">
        <div class="invalid-feedback" *ngIf="email.hasError('required')">
            Email is required
        </div>
        <div class="invalid-feedback" *ngIf="email.hasError('email')">
            Email must have (@) symbol and not to begin or end with a period (.)
        </div>
        <br>
        <button class="btn btn-info btn-lg btn-block" type="submit"
                (click)="onSubmit()"    >
            SEND EMAIL
        </button>

    </div>
</div>